{% extends 'parent-page1.html' %}
{% block title %}
    Admin
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="../static/admin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='/js/db.js') }}"></script>
    
    <div  class="navbar navbar-expand-lg navbar-light bg-dark" style=" align-items: center; width: 95%; border-radius: 16px; padding-top: 30px ; padding-bottom: 30px;">
        <input class="form-control" id="user_rec" type="text" placeholder="               Search by user               " style="margin-right: 15%; margin-left: 19%; text-align: center;">
        <input class="form-control" id="loc" type="text" placeholder="                    Search by location           " style="margin-right: 15%; text-align: center;">
    </div>
    <br> <br>


    <a href="{{ url_for('signup') }}" class="btn btn-success" style="width: 30%; padding-top: 10px ; padding-bottom: 10px; font-size: x-large;">Add User</a>
    <br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password hash</th>
                <th>Location</th>
                <th>Camera id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="myTable2">
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.camera_id }}</td>
                <td>
                    <a href='edit_user' class="btn btn-warning btn-lg">Edit</a>
                    <button class="btn btn-danger btn-lg" onclick="deleteUser('{{ user.id }}')">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
