{%  extends 'parent-page1.html' %}

      {%  block title %}
            Alerts
      {%  endblock %}

        {%  block content %}

<link rel="stylesheet" href="../static/alerts.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/jquery-3.7.1.js
"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js
"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js
"></script>





    <input class="form-control" id="myInput" type="text" placeholder="Search by any field ..">
    <br>

    <table  cellspacing="5" cellpadding="5">
      <tbody><tr>
          <td>Minimum date:</td>
          <td><input type="text" id="min" name="min"></td>
      </tr>
      <tr>
          <td>Maximum date:</td>
          <td><input type="text" id="max" name="max"></td>
      </tr>
  </tbody></table>

 <table id="Alerts_table" class="table table-hover table-dark" >
      <thead>
          <tr class="table-active">
              <!-- Your Columns HERE -->
              <th scope="col"> Snapshot </th>
              <th scope="col">Detection</th>
              <th scope="col">Location</th>
              <th scope="col">Alert sent to </th>
              <th scope="col">Time</th>
              <th scope="col">  <!-- for button --></th>
          </tr>
      </thead>
      <tbody id="myTable">
          <!-- Your rows inside the table HERE: -->
          {% for snap in snaps %}
              <tr>
                <!--  <td>{{ snap.Detection_img_ref }}</td>   -->
                  <td class="w-25"><img class="rounded mx-auto d-block" src='../static/used_images/alerts_images/{{snap.Detection_img_ref}}'/></td>  
                  <td>{{ snap.Detection_type }}</td>
                  <td>{{ snap.Loc }}</td>
                  <td>{{ snap.Alert_sentTo }}</td>
                  <td>{{ snap.Time }}</td>
                  <td>
                      <button type="button" class="btn btn-primary btn-lg">Show</button>                    
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>


<script>
    /*show recent detection */
$(function(){
    $("tbody").each(function(elem,index){
      var arr = $.makeArray($("tr",this).detach());
      arr.reverse();
        $(this).append(arr);
    });
});


/*  filter the whole table */
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    let minDate, maxDate;
 
 // Custom filtering function which will search data in column four between two values
 DataTable.ext.search.push(function (settings, data, dataIndex) {
     let min = minDate.val();
     let max = maxDate.val();
     let date = new Date(data[4]);
  
     if (
         (min === null && max === null) ||
         (min === null && date <= max) ||
         (min <= date && max === null) ||
         (min <= date && date <= max)
     ) {
         return true;
     }
     return false;
 });
  
 // Create date inputs
 minDate = new DateTime('#min', {
     format: 'MMMM Do YYYY'
 });
 maxDate = new DateTime('#max', {
     format: 'MMMM Do YYYY'
 });
  
 // DataTables initialisation
 let table = new DataTable('#Alerts_table');
  
 // Refilter the table
 document.querySelectorAll('#min, #max').forEach((el) => {
     el.addEventListener('change', () => table.draw());
 });

    </script>




        {%  endblock %}