{%  extends 'parent-page1.html' %}

      {%  block title %}
            Alerts
      {%  endblock %}

        {%  block content %}

<link rel="stylesheet" href="../static/alerts.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='/js/db.js') }}"></script>

<style>
    .form-control{
        width: 10%;
    }


</style>

<div class="navbar shadow-lg navbar-dark bg-dark" style="display: flex; align-items: center; width: 95%; border-radius: 16px; padding-top: 30px ; padding-bottom: 30px;">
    <input class="form-control" id="Det" type="text" placeholder="Search by Detection type (Weapon - Fire - Accident - Crowd)" style="margin-right: 15px; margin-left: 15px;">
    
    {% if current_user.username == "admin" %}
    <input class="form-control" id="loc" type="text" placeholder="Search by Location" style="margin-right: 15px;">
    <input class="form-control" id="user_rec" type="text" placeholder="Search by Receiver " style="margin-right: 15px;">
    {% endif %}

    <label for="start-date" style=" color:white;">  <strong>Start Date: </strong> </label>
    <input class="form-control"  type="date" id="start-date" >
    <label for="end-date"  style="color: white;"> <strong>End Date:  </strong> </label>
    <input class="form-control"  type="date" id="end-date" >
    <button  onclick="filterTable()" class="btn btn-primary btn-lg" style="width: 10% ; margin-right: 15px;">Filter by date</button>
</div>

<br>

 <table id="Alerts_table" class=" rounded table table-hover table-dark"  style="width: 93%;  ">
      <thead>
          <tr class="table-active">
              <!-- Your Columns HERE -->
              <th scope="col"> Snapshot </th>
              <th scope="col">Detection</th>
             
              {% if current_user.username == "admin" %}
              <th scope="col">Location</th>
              <th scope="col">Alert sent to </th>
              {% endif %}

              <th scope="col">Time</th>
              <th scope="col">   <!-- for button --></th>
          </tr>
      </thead>
      <tbody id="myTable">
          <!-- Your rows inside the table HERE: -->
          {% for snap in snaps %}
          
              <tr>
                <!--  <td>{{ snap.Detection_img_ref }}</td>   -->
                  <td class="w-25"><img class="rounded mx-auto d-block" src='../static/used_images/{{snap.Detection_img_ref}}.png'/></td>  
                  <td>{{ snap.Detection_type }}</td>
                  
                    {% if current_user.username == "admin" %}
                    <td>{{ snap.Loc }}</td>
                    <td>{{ snap.Alert_sentTo }}</td>            
                    {% endif%}

                  <td>{{ snap.Time }}</td>
                  <td style="text-align: center;">
                      <button hidden type="button" class="btn btn-primary btn-lg">Show</button>     
                      <button class="btn btn-danger btn-lg" onclick="deleteSnapshot('{{ snap.id }}')">Delete</button>
               
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>



  <script>

    </script>


        {%  endblock %}