{% extends 'parent-page1.html' %}

{% block title %}
    Analytics
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/analytics.css" />
    
    <h1>Accidents statistics</h1>
    <hr>
    <div class="background-image -variant-t2" style="display: flex; justify-content: space-between; width: 80%; margin: 0 auto; ">
        <div style="flex: 1; margin-right: 10px; border: 1px solid; border-radius: 16px;">
            <canvas id="snapshotChartLocation"></canvas>
        </div>
        <div style="flex: 1; margin-left: 10px; border: 1px solid; border-radius: 16px;">
            <canvas id="snapshotChartDetectionType_bar"></canvas>
        </div>
    </div>
    <br>    <br>

    <div style="display: flex; justify-content: space-between; width: 80%; margin: 0 auto; border: 1px solid; border-radius: 16px;">
        <div style="flex: 1; margin-right: 10px;">
            <canvas id="snapshotChartTime" style=" height: 400px; width: 1080px; "></canvas>
        </div>
        <div style="flex: 1; margin-left: 10px; height: 385px; width: 300px;">

            <canvas id="snapshotChartDetectionType_pie"></canvas>
        </div>
    </div>
  
   


    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        fetch('/get_snapshot_data')
            .then(response => response.json())
            .then(data => {
                // Chart for number of snapshots per location
                const ctxLocation = document.getElementById('snapshotChartLocation').getContext('2d');
                new Chart(ctxLocation, {
                    type: 'bar',
                    data: {
                        labels: data.labels_location,
                        datasets: [{
                            label: 'Snapshot Counts (Location)',
                            data: data.counts_location,
                            backgroundColor: '#153448',
                            borderColor: 'white',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                display: false,
                                beginAtZero: true
                            }
                            ,
                        x: {
                            color: 'black', // Change the text color of the x-axis labels
                            ticks: {
                                font: {
                                    weight: 'bold' // Make the text bold
                                }
                            }
                        }

                        },
                        plugins: {
                        legend: {
                            labels: {
                                color: 'black' // Change the text color of the legend
                                ,weight:'bold'
                            }
                        }
                    }
                    }
                });

                // Chart for number of snapshots per day
                const ctxTime = document.getElementById('snapshotChartTime').getContext('2d');
                new Chart(ctxTime, {
                    type: 'line',
                    fill: true,
                    data: {
                        labels: data.labels_time,
                        datasets: [{
                            label: 'Snapshot Counts (Per Day)',
                            data: data.counts_time,
                            fill: false,
                            borderColor: '#0E46A3',
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                display: false,
                                beginAtZero: true
                            }
                            ,
                        x: {
                            color: 'black', // Change the text color of the x-axis labels
                            ticks: {
                                font: {
                                    weight: 'bold' // Make the text bold
                                }
                            }
                        }

                        },
                        plugins: {
                        legend: {
                            labels: {
                                color: 'black' // Change the text color of the legend
                                ,weight:'bold'
                            }
                        }
                    }
                    }
                });
                  // Chart for number of snapshots per detection type
                  const ctxDetectionType = document.getElementById('snapshotChartDetectionType_bar').getContext('2d');
                new Chart(ctxDetectionType, {
                    type: 'bar',
                    data: {
                        labels: data.labels_detection_type,
                        datasets: [{
                            label: 'Snapshot Counts (Detection Type)',
                            data: data.counts_detection_type,
                            backgroundColor: '#153448',
                            borderColor: 'white',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                display: false,
                                beginAtZero: true
                            }
                            ,
                        x: {
                            color: 'black', // Change the text color of the x-axis labels
                            ticks: {
                                font: {
                                    weight: 'bold' // Make the text bold
                                }
                            }
                        }

                        },
                        plugins: {
                        legend: {
                            labels: {
                                color: 'black' // Change the text color of the legend
                                ,weight:'bold'
                            }
                        }
                    }
                    }
                });
                 // Chart for number of snapshots per detection type
            const ctxDetectionType2 = document.getElementById('snapshotChartDetectionType_pie').getContext('2d');
            new Chart(ctxDetectionType2, {
                type: 'pie',
                data: {
                    labels: data.labels_detection_type,
                    datasets: [{
                        label: 'Snapshot Counts (Detection Type)',
                        data: data.counts_detection_type,
                        backgroundColor: [
                            'rgb(14, 41, 84)',
                            'rgb(31, 110, 140)',
                            'rgb(83, 92, 145)',
                            'rgb(146, 144, 195)',
                            'rgb(52, 73, 85)',
                            'rgb(120, 160, 131)'
                        ],
                        borderColor: [
                           
                            'rgba(54, 162, 235, 1)',
                            
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            display: false,
                            beginAtZero: true
                        }
                    }
                    
                }
            });
            });
        
    </script>
{% endblock %}


