{% extends 'parent-page1.html' %}

{% block title %}
Livestream
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/livestream.css" />
<div class="livestream-container2">
  <div class="livestream-hero section-container">
    <div class="livestream-max-width max-content-container">
      <div class="livestream-content-container">
        <h1 class="livestream-text" style="margin-right: 100px;">
          <span class="livestream-text01">Live Stream</span>
          <br />
          <span>of the incidents</span>
        </h1>
        <div class="livestream-features-container">
          <!-- Feature Items -->
        </div>
      </div>

      <form action="{{ url_for('handle_people_count') }}" method="POST">
        <div>
          <div>
            <section>
              <img class="rounded" src="{{ url_for('webapp') }}" alt="Upload video" style="margin-bottom: 5%; width: 1200px; border: 5px solid #BF2626;">
              <input type="number" name="people_count_webapp1" placeholder="Enter number of people for Webapp 1">
              <select name="model_webapp1">
                <option value="Crowd Model">Crowd Model</option>
                <option value="Gun Model">Gun Model</option>
              </select>
            </section>
          </div>
        </div>
        <div>
          <div>
            <section>
              <img class="rounded" src="{{ url_for('webapp2') }}" alt="Upload video" style="width: 1200px; border: 5px solid #BF2626;">
              <input type="number" name="people_count_webapp2" placeholder="Enter number of people for Webapp 2">
              <select name="model_webapp2">
                <option value="Crowd Model">Crowd Model</option>
                <option value="Gun Model">Gun Model</option>
              </select>
            </section>
          </div>
        </div>
        <button type="submit">Submit</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}
